.title {
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  background: var(--container-color);
  box-shadow: 20px -20px 27px #c0ffff;
}
.title__content {
  font-size: var(--h2-font-size);
  font-weight: bold;
  color: var(--text-color);
}
