.comments {
  margin: 1rem auto;
}
.comment {
  width: 100%;
  min-height: 10rem;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.comment__user {
  width: 100%;
  display: flex;
  align-items: center;
}
.comment__user img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.comment__username {
  padding: 0 0.5rem;
}
.comment__username span {
  font-size: var(--small-font-size);
}
.commment__content {
  width: 90%;
  padding: 0.5rem 0;
  font-size: var(--small-font-size);
  text-align: justify;
}

/* form comment */
.form_comment {
  width: 100%;
}
.form_comment p {
  font-size: var(--h3-font-size);
  padding: 0.5rem 0;
}
.form_comment__input textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem 0.5rem;
}
.form_comment button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  outline: none;
  background-color: var(--body-color);
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-normal);
  cursor: pointer;
}
.form_comment button:hover {
  background-color: var(--container-color);
}
