.avatar_user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.avatar_user{
  margin-top: 20px;
  display: flex;
}
.avatar_user h4{
  padding: 10px 0;
}
.user_commented{
  margin-top: 50px;
   text-justify: auto;
}
.avt{
  display: flex;
}
.user_commented p{
    padding: 10px 10px;
}
.user_comment{
    display: flex;
    margin-top: 50px;
}
.user_comment textarea{
    padding: 10px 10px;
    margin-left: 20px;
}
.btn_comment{
    margin-top: 20px;
    text-align: right;
    margin-right: 150px;
}
.btn_comment button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  .btn_comment  button.learn-more {
    width: 12rem;
    height: auto;
  }
  .btn_comment  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  .btn_comment  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .btn_comment button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .btn_comment button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  .btn_comment  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  .btn_comment button:hover .circle {
    width: 100%;
  }
  .btn_comment  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  .btn_comment button:hover .button-text {
    color: #fff;
  }
  .card_comments{
    border-radius: 5px 5px 5px 5px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  .comment-box{
    
    padding:5px;
    margin-left: 20px;
}



.comment-area textarea{
        border: 1px solid #ad9f9f;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ffffff;
    outline: 0;
  
}
  