.collect__gallery {
  margin: 2rem auto;
  border-radius: 13px;
  padding: 0.5rem;
  gap: 1rem;
  width: 100%;
}
.collect__gallery__box {
  width: 100%;
}
.collect {
  position: relative;
}
.collect__btn {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: var(--h1-font-size);
  cursor: pointer;
  z-index: 1000;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--title-color) !important;
  font-size: var(--normal-font-size)!important;
}
/* ======Breakpoints======= */
@media screen and (max-width: 768px) {
  .collect__gallery {
    grid-template-columns: max-content;
  }
}
@media screen and (max-width: 350px) {
}
