.content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
    margin-bottom: 3rem;
}
.info-box{
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    
}
.info-box {
    background: white;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    }
    .box-icon  svg{
        text-align: center;
        width: 40px;
        height: 40px;
}   
    .box-content {
        white-space: nowrap;
    }
    .big {
        display: block;
        font-size: 2em;
        line-height: 150%;
        color: black;
       
    }
.chart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.line_chart{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.info-box:hover,
.info-box:hover> div .big{
    background-color: black;
    color: white;
}