.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px
}
.info-box{
    display: flex;
}
.info-box {
    background: white;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;

    }
    .box-icon  svg{
        display: block;
        width: 48px;
        height: 48px;
}   
    .box-content {
        padding-left: 1.25em;
        white-space: nowrap;
    }
    .big {
        display: block;
        font-size: 2em;
        line-height: 150%;
        color: black;
    }
.chart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.line_chart{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}