.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px
}
.info-box{
    display: flex;
}
.info-box {
    background: white;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 3em;
    border: 1px solid black;
    border-radius: 5px;

    }
    .box-icon  svg{
        display: block;
        width: 48px;
        height: 48px;
}   
    .box-content {
        padding-left: 1.25em;
        white-space: nowrap;
    }
    .big {
        display: block;
        font-size: 2em;
        line-height: 150%;
        color: black;
    }