.in__footer {
  font-size: var(--smaller-font-size);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: var(--body-color);
  color: var(--title-color);
  margin-top: 5rem;
}
.end-footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.25rem;
  background-color: var(--body-color);
  color: var(--title-color);
}
.footer__icon {
  width: 8rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transition: .3s;
}
.footer__icon a i {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  
}
.footer__icon a:hover {
    transform: translateY(-5px);
    transition: .3s;
}
.in__footer p {
  padding: 1rem 0;
}

/* ======Breakpoints======= */
@media screen and (max-width: 768px) {
  .in__footer {
    grid-template-columns: max-content;
  }
  .footer__icon {
    grid-template-columns: repeat(2, 1fr);
    transition: .3s;
  }
}
