.content_blog{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin: 2rem 0;
    
}
@media screen and (max-width: 768px){
    .content_blog{
         grid-template-columns: repeat(1,1fr);
    }
}