.list_categorys{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
}
.list_categorys div ul{
    display: flex;
}
.list_categorys div ul li {
    padding: 0 10px;
}
.list_categorys div ul li button{
    background-color:transparent;
}
.list_categorys div ul li :hover{
    background-color: #eee;
}