.cardNew {
  width: 100%;

  padding: 1rem;
}
.cardNew__header  {
  overflow: hidden;
  border-radius: 0.5rem;
}
.cardNew__header img {
  width: 100%;
    transition:all 0.7s ;
}
.cardNew__body {
  width: 100%;
}
.cardNew__body span {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  font-size: var(--small-font-size);
  font-weight: 700;
}
.cardNew__body p {
  display: block;
  width: 90%;
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardNew__header img:hover {
  width: 100%;
  border-radius: 0.5rem;
  transform: scale(1.5);
}