.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("https://theme.hstatic.net/200000542485/1001020057/14/breadcrumb.png?v=2");
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
